header {
    font-family: "Libre Caslon Text";
    text-align: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    color: rgb(0, 0, 0);
    font-size: 40px;
  }

  .login1{
    background-color: #e0e0e0;
    border-radius: 15px;
    padding: 40px;
    width: 50%;
    margin-right: 150px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 8px rgba(75, 75, 168, 0.2);
  
  }
  .login-header {
    font-size: 30px;
    font-family: "Libre Caslon Text";
    font-weight: bolder;
    font-weight: 300;
    text-align: center;
    margin: 15px;
  }
  .pass{
    height: 1.75rem;
    margin: 15px;
    padding: 10px;
    border-radius: 10px;
    width: 300px;
    color: rgb(247, 245, 245);
    background-color: #1e7bac;
  }
  .pass::placeholder {
    color: rgb(255, 255, 255);
  }
 
  .login1 .login,.login1.register {
    background-color: #1e7bac;
    color: white;
    margin-top: 20px;
    border: none;
    width: 320px;
    border-radius: 10px;
    padding: 15px 25px;
    font-family: Inter;
  }
  .login:hover {
    background-color: hsl(210, 36%, 62%);
    cursor: pointer;
  }
  
  .invalid{
    color: hsl(0, 80%, 60%);
  }
  .login-text{
    margin-top: 10px;
  }